A:link
{
COLOR: #000000; CURSOR: hand; FONT-FAMILY: "宋体"; FONT-SIZE: 9pt; FONT-STYLE: normal; TEXT-DECORATION: none
}
A:visited
{
COLOR: #000000; FONT-FAMILY: "宋体"; FONT-SIZE: 9pt; FONT-STYLE: normal; TEXT-DECORATION: none
}
A:active
{
COLOR: #000000; FONT-FAMILY: "宋体"; FONT-SIZE: 9pt; FONT-STYLE: normal; TEXT-DECORATION: none
}
A:hover
{
COLOR: #FF0000; FONT-FAMILY: "宋体"; FONT-SIZE: 9pt; TEXT-DECORATION: underline
}
BODY
{
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt
}
TD{
	FONT-SIZE: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-left:1px red solid;border-top:1px green solid;border-bottom:1px yellow solid;
	text-align: center;
}
.size_9{
	FONT-SIZE: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.login_btn {
	font-family: "宋体";
	font-size: 9pt;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #FFFFFF;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #FFFFFF;
	background-color: #EEEEEE;
}
.login_input{

	font-family: "宋体";
	font-size: 9pt;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #000000;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #000000;
}
